<!DOCTYPE html>
<html lang="pt">
 <head>
   <meta charset="UTF-8" />
   <title>CRUD para a Tabela de Veículos</title>
   <link href="/static/formatacao.css" rel="stylesheet" type="text/css" />
   <script src="https://kit.fontawesome.com/ef3db9c3fe.js" crossorigin="anonymous"></script>
   <link
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
     crossorigin="anonymous"
   />
 </head>
 <body>
  <header>
    <div class="overlay"></div>
  
    <img src="/static/Gifdajinx.gif"/>
  
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Currículo digital</h1>
         <p>ROBSON MONTEIRO DE OLIVEIRA</p>
        </div>
      </div>
    </div>
  </header>
   <div class="jumbotron jumbotron-fluid" id="titulo">
       <h1 class="display-4 text-center">Bem vindo.</h1>
   </div>
   <div class="d-flex justify-content-center">

     <a id="linkCrud" href="/crudCurriculo"
       ><button type="button" id="botoes" class="btn">
           Lista de conhecimentos
       </button></a
     >
   </div>
   <footer class="text-center text-white" id="footer">
    <div class="container p-4 pb-0">
      <h1>Sobre mim</h1>
      <p>Sou um estudante de ciência da computação na universidade uniCEUB, estou atualmente no 4º semestre.</p>
      <section class="mb-4">
        
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/robisoliveira/" target="_blank" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/robson-monteiro-de-oliveira-b946841a2/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Robis123" target="_blank" role="button"><i class="fab fa-github"></i></a>
      </section>
    </div>

    <div class="text-center p-3" id="copyright">
      © 2021 Copyright:
      <a class="text-white" href="https://github.com/Robis123" target="_blank">Robson Monteiro de Oliveira</a>
    </div>
  </footer>
 </body>
</html>
